<div class="main-container">
  <nav class="navbar me">
    <h1 class="nav-item text-light">Firechat</h1>
    <div class="nav-item text-right" *ngIf="_cs.ususario.uid">
      <button type="button" class="btn btn-outline-warning btn-lg" (click)="_cs.logout()">Salir <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </nav>

  <app-login *ngIf="!_cs.ususario.uid" ></app-login>

  <div class="container">
    <div class="chat-window" *ngIf="_cs.ususario.uid">
      <app-chat></app-chat>
    </div>
  </div>
</div>
